/* Navigation Bar
-------------------------------------------------- */
.container-fluid {
	background-color: black;  /*#C3002F;*/
    border-bottom: 3px solid #C3002F;
    font-family: NissanBrandLight;     
}

.navbar-default .navbar-nav > li > a:hover{
    color: #C3002F; 
}

/*NAV BAR TEXT WHEN ACTIVE*/
.navbar-default .navbar-nav>.active>a {
	background-color: #ffffff;
    color:#C3002F;
}

.navbar-default:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

/*Navbar Icons*/
.material-icons {
    font-size: inherit;
    top: 1px;
    display:inline-block;
    position: relative;
}

/*Nav bar Dropdown*/
.navbar-default .navbar-nav >.open >a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #ffffff;
    color:#C3002F;
}

@media only screen and (min-width:767px) {
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .open .dropdown-menu >li > a {
        font-size: 9pt;
    }
}

@media only screen and (min-width:1024px) {
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .open .dropdown-menu >li > a {
        font-size: 11pt;
    }
}

/* Navigation Bar: Branding
-------------------------------------------------- */
.navbar-default .navbar-brand {
    color: white;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: NissanBrandRegular;
}

#Title:hover {
    color: white;
}

#HeaderImage {
    height:80px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 320px) {
    #Title {
        padding-top: 15px;
    }
}

@media only screen and (min-width:321px) {
    #Title {
        padding-top: 15px;
    }
}

@media only screen and (min-width:767px) {
    #Title {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 10px;
    }
}

/* Navigation Bar: For Mobile Devices
-------------------------------------------------- */
.navbar-default .navbar-toggle {
    background-color: #C3002F;
    color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #4C4C4C;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}


@media only screen and (max-width: 767px) {
    /*Navbar dropdown forces to be under the nissan logo - layout errors where caused without this*/
    .container-fluid>.navbar-collapse {
        margin-top: 30px;
    }

    .navbar-default .navbar-nav li.dropdown {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav .open .dropdown-menu >li > a {
        color: white;
    }
}