/* Background Images
-------------------------------------------------- */
 .image{
    background-size: cover;
	position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-position: right;
}

/* Nav Bar
-------------------------------------------------- */
#navImg {
    padding-top: 0px;
    margin-left: 15px;
}

#Title {
    margin-top: 14px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/* Page Container
-------------------------------------------------- */
#pageContainer {
    color: white;
    height: 100%;
    width: 950px;
    position: fixed;
}

#pageContainer::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 71, 127, 0.2) ;
    bottom: 0;
    left: 0px;
    transform-origin: bottom;
    transform: skewx(20deg);
    z-index: -1;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 100px;
    color: white;

}

#copyright {
    display: inline-block;
    float: right;
}

.provider {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


