<div class="image" [ngStyle]="{'background-image':'url(' + object.link + ')'}">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" id="navImg">
          <img src="../assets/img/logo.png" alt="" class="img-responsive" style="max-height:124px;">
        </div>
        <div class="navbar-brand" id="Title">
          <h3>Assessment Centre Application</h3>
        </div>
      </div>
    </div>
  </nav>

  <div id="pageContainer" class="container-fluid">
    <app-loginform></app-loginform>
  </div>
</div>

<div class="footer">
  <div class="container-fluid">
    <div id="slogan">
      <h2>Innovation that excites</h2>
    </div>
    <div id="options">
      <ul>
        <li><a href="#">Need Help?</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Copyright &amp; Disclaimer</a></li>
        <li><a href="#">Accessibility</a></li>
        <li><a>&copy; Nissan 2017</a></li>
      </ul>
    </div>
  </div>
</div>
