        <div class="container-fluid" *ngIf="chosenTask.type == 'image'">
            <h2>Task {{chosenTask.taskID}}</h2>
            <p> {{ chosenTask.description }} </p>
                <div *ngFor="let images of chosenTask.images">
                    <div class="col-sm-12 col-md-6">
                        <button  [ngClass] ="{selectedImage: images == selectedImageProperty}" class="thumbnail" (click)="onSelectImage(images)">
                            <img  [src]="'/assets/img/' + images" alt="..." id="StayAtThePlane">
                        </button>
                    </div>
                </div>
            </div>
<!--
        <div class="row" *ngIf="selectedImageProperty">
            <form id="AssessmentControl">
                    <a [routerLink] ="['/assessment',paramID, 2]"class="btn btn-success" style="display:block;width:100%;">Next task</a>
                    <button class="btn btn-success" (click)="onNavigate()">Next Task</button>
            </form>
      </div>-->


              <div class="container-fluid" *ngIf="chosenTask.type == 'text'">
                    <h2>Task {{chosenTask.taskID}}</h2>
                    <p> {{ chosenTask.description }} </p>
                    <ul class="list-group" dnd-sortable-container [sortableData]="chosenTask.questions" >
                        <li *ngFor="let questions of chosenTask.questions; let i = index" class="list-group-item border-radius: 100px;" dnd-sortable [sortableIndex]="i">
                            {{questions}} 
                        </li>
                    </ul>
                  <button class="btn btn-primary" (click)="submitList()">Submit List</button>
            </div>

            <div class="container-fluid" *ngIf="chosenTask.type == 'textbox'">
                <h2>Task {{chosenTask.taskID}}</h2>
                    <p> {{ chosenTask.description }} </p>
                    <ul class="list-group">
                        <li *ngFor="let questions of chosenTask.questions; let i = index" class="list-group-item border-radius: 100px;">
                            {{questions}}<input type="text" id="txt_itemReason" placeholder="Reason Of Use">
                        </li>
                    </ul>
                  <button class="btn btn-primary" (click)="submitReason(input.value)">Submit Answers</button>
            </div>

<hr>

          <div class="panel panel-default">
                <div class="panel-heading">Back to Assessment</div>
                <div class="panel-body"> <button type="submit" (click)="previousState()" class="btn btn-info"  style="display:block;width:25%;height: 25%"> Back</button></div>
         </div>
  
 
     