<!--<ngx-magic-table 
[columns]="columns" 
[data]="data" 
[tableOptions]="tableOptions">
 </ngx-magic-table>-->



    <h2>
        <span>Candidates</span>
    <div class="row"> </div>
    <br/>
    <div class="table-responsive" *ngIf="data">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span class="data">ID</span></th>-->
            <th><span class="data">Name</span></th>
            <th><span class="data">University</span></th>
            <th><span class="data">Degree</span></th>
            <th><span class="data">Date</span></th>
            <!--<th><span class="data">Group</span></th>-->
            <th><span class="data">Options</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidate of data">
                <!--<td class="data">{{candidate.candidateID}}</td>-->
                <td class="data">{{candidate.name}}</td>
                <td class="data">{{candidate.university}}</td>
                <td class="data">{{candidate.degree}}</td>
                <td class="data">{{candidate.assessmentDate | date:'medium'}}</td>
                <!--<td class="data">{{candidate.assessmentGroup}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--<button type="submit"
                                [routerLink]="['../status', status.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>-->
                        <button type="submit" [routerLink]="['../' + candidate.candidateID + '/edit']" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit" [routerLink]="['../' + candidate.candidateID + '/delete']" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

