<div class="backdrop" [ngStyle]="{'display':display}">
<div class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ error?.title }}</h3>
        <button type="button" class="close" (click)="errorHandled()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p [ngClass]="{'error': messageErrorClassApplied === true}" >{{error?.message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" (click)="errorHandled()">Close</button>
      </div>
    </div>
  </div>
</div>