<div id="loginFormContainer">
        <h2 style="font-weight: bold;">Important information</h2>
    <div>
        <!-- <p style="margin-bottom:30px; font-size:50px">Signup</p> -->
        <div class="alert alert-success">
               <p style="color:black;">Hello there! Welcome to the registration page! When creating a password, ensure the password is strong
               to deter hackers and stop your password being easily cracked. To minimise the risk, please ensure the do the following when creating a password: 
               <strong style="color:red;">Be at least 8 characters long, include one uppercase, include one lowercase, include one numeric value and finally include one special character.</strong>
               Use the strength bar to indicate your password strength! 

            </p>
              </div>

              <hr>
     <h4>Please create your login and password</h4>
        <form id="loginForm" (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group">
                <div class="inner-addon left-addon">
                    <input
                        type="userid"
                        class="form-control"
                        [(ngModel)]="user.username" 
                        name="username" 
                        id="InputUserId1"
                        placeholder="Username"  
                        pattern="^[-a-zA-Z0-9@\.+_]+$"
                        required
                        #name="ngModel">
                    <span class="span-block" style="color:red;" *ngIf="name.touched && !name.valid">Please enter a username</span>
                    <br>
                    <span class="span-block" style="color:red;" *ngIf="name.touched && !name.valid">Spaces are not allowed</span>
                </div>               
            </div>

            <div class="form-group">
                <div class="inner-addon left-addon"  id="password">
                    <input 
                        type="password" 
                        class="form-control" 
                        [(ngModel)]="user.password"
                        name="password" id="InputPassword1"
                        placeholder="Password" 
                        required
                        #passwordChecker="ngModel">
                        <ul 
                        class="list-group" 
                        *ngIf="!passwordChecker.valid && passwordChecker.touched">
                 
                               <li class="list-group-item list-group-item-danger">Password must contain one uppercase</li>
                               <li class="list-group-item list-group-item-danger">Password must contain one lowercase</li>
                               <li class="list-group-item list-group-item-danger">Password must contain one numeric value</li>
                               <li class="list-group-item list-group-item-danger">Password must contain one special character e.g ! $</li>
                               <li class="list-group-item list-group-item-danger">Password must be at least 8 characters long</li>
                       
                          </ul>
                    <h3 style ="color:white">Password Strength</h3>

                    <!-- pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" -->
                
                    <password-strength-bar
                     [passwordToCheck]="user.password"
                     [barLabel]="barLabel">
                    </password-strength-bar>

                </div>               
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" id="btnlogin">Register</button>
            <button class="btn btn-primary" [routerLink]="['../signin']" id="btnlogin">Back to Login</button>
        </form>
    </div>
</div>  