	 <h2>Group Allocation</h2>
	 <p>Allocate the Candidates into Group for the assessment day. </p>
  <div class="row">
      <div class="form-group" class="col-md-5">
          <label class="form-control-label" for="field_name">Date</label>
          <input type="date" placeholder="Assessment Date" class="form-control" [(ngModel)]="selectedDate" name="selectedDate">
      </div> 
      <div class="form-group" class="col-md-5" id="SelectAGroup" *ngIf="called">
          <label class="form-control-label" for="field_name">Group</label>
          <select class="form-control" [(ngModel)]="selectedGroup" name="selectedGroup" required #group="ngModel">
              <option *ngFor="let group of groups" [ngValue]="group">{{group}}</option>
          </select>
              <span class="span-block" *ngIf ="!group.valid && group.touched">An Assessment Group is required</span>
      </div> 
  </div>
<hr>
  <div class="row">
        <div class="form-group" class="col-md-5">
          <button class="btn btn-success"  [disabled]="!selectedDate" (click)="fetchCandidates()">Find Candidates</button>
      </div> 
  </div>

 <hr>
<div class="dual-list" *ngIf="called">
  <div class="list panel panel-default pull-left">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of _leftList.list" (click)="selectItem(_leftList.selected, item)" [ngClass]="{active: isSelected(_leftList.selected, item)}">
        <span> Name : {{ item[display] }}</span>
      </li>
    </ul>
  </div>

  <div class="btn-group-vertical">
     <button type="button" class="btn btn-success" (click)="moveSelectedItems(_leftList, _rightList)"[disabled]="!_leftList.selected.length"> <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>

    <button type="button" class="btn btn-danger" (click)="moveSelectedItems(_rightList, _leftList)"  [disabled]="!_rightList.selected.length"><span class="glyphicon glyphicon-chevron-left"></span>
      <span class="glyphicon glyphicon-chevron-left"> </span>
    </button>
  </div>

  <div class="list panel panel-default pull-left">
    <ul class="list-group" *ngIf="_rightList.list">
      <li class="list-group-item"  *ngFor="let item of _rightList.list" (click)="selectItem(_rightList.selected, item)" [ngClass]="{active: isSelected(_rightList.selected, item)}">
        <span>{{ item[display] }}</span>
      </li>
    </ul>
  </div>
</div>
<br>
	<div class="col-md-6" style="float:right;" *ngIf="called">
        <button class="btn btn-success" type="button" style="float:right;margin-top:10px;" [disabled]="!_rightList.list.length || !selectedGroup" (click)="createGroup()"><span class="glyphicon glyphicon-plus"></span> Create</button>
  </div>