<header>    
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <a class="navbar-brand" id="Title">Cyber Security Password Encryption</a>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                            <li><a role="button" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                
            </div>
        </nav>
</header>

<div class="container">
    <router-outlet></router-outlet>
</div>


<!--Output success modal component globally-->
<app-success></app-success>

<!--Output error modal component globally-->
<error-occured></error-occured>

