
html {
    min-width: 319px;
    height: 100%;
}


/* Page Container Styles
-------------------------------------------------- */
.container-fluid h1, .container-fluid h2, .container-fluid h3, .container-fluid h4, .container-fluid h5, .container-fluid h6 {
    font-family: NissanBrandBold;
}

.container-fluid {
	font-family: NissanBrandRegular;
}




