/* Login Form 
-------------------------------------------------- */
#password {
    width: auto;
    display: inline-block;
}

#InputUserId1, #InputPassword1 {
    border: none;
    border-left: 2px solid #00569e;
    width: 400px;
    border-radius: 0px;
    height: 50px;
    font-size: 12pt;
    padding-left: 40px;
}

#InputUserId1 { 
    width:436px;
    margin-bottom: 20px;
    background: url(/assets/img/User_font_awesome.png) no-repeat;
    color: white;
}

#InputPassword1 { 
    width:400px;
    margin-bottom: 20px;
    background: url(/assets/img/locked_1.png) no-repeat;
    color: white;
}

#btnlogin {
    width:134px;
    height: 50px;
    border: none;
    border-radius: 0px;
    background-image: none;
    background-color: #0f3455;
    font-family: NissanBrandRegular;
    font-size:12pt;
}

#btnViewPassword {
    background-color: #001b34;
    height: 50px;
    width:36px;
    border: none;
    border-top: none;
    border-radius: 0px;
    color: #314a69;
    margin-left: -4px;
    margin-top: -3px;
}

#btnResetPassword {
    float: right;
    padding: 0px;
    font-size: 9pt;
    margin-top: -25px;
    margin-right: 170px;
    color: rgba(189, 228, 248, 0.6);
}

#btnRememberMe {
    margin-top:20px;
    font-size:10pt;
    color: rgba(255, 255, 255, 0.7);
   
}

#loginFormContainer {
    text-align: left;
    margin-top: 30vh;
    margin-left: 80px;
    width: 600px;
    font-family: NissanBrandLight;
    font-size:12pt;
}

/* Login Form: Login Textbox Icons
-------------------------------------------------- */
/* enable absolute positioning */
.inner-addon {
    position: relative;
    color: #003052;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding-left: 10px;
  padding-top:17px;
  pointer-events: none;
  font-size: 12pt;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
