<div class="container-fluid" id="loginFormContainer">
    <h2 style="font-weight: bold;">Your password feedback</h2>

    <div class="jumbotron col-xs-8" style=" background:black;">
        <ul class="list-group">
            <li class="list-group-item-text" style="margin-left:5px;" [style.color]="(uppercase == 0) ? 'red' : (uppercase >= 1 && uppercase < 4) ? '#FFFF00': '#4BB543'">Password uppercase: {{ uppercase }}</li>
            <li class="list-group-item-text" style="margin-left:5px;" [style.color]="(lowercase == 0) ? 'red' : (lowercase >= 1 && lowercase < 4) ? '#d3bf0c': '#4BB543'">Password lowercase: {{ lowercase }}</li>
            <li class="list-group-item-text" style="margin-left:5px;" [style.color]="(numericValues == 0) ? 'red' : (numericValues >= 1 && numericValues < 4) ? '#efda1a': '#4BB543'">Password numeric values: {{ numericValues }}</li>
            <li class="list-group-item-text" style="margin-left:5px;" [style.color]="(specialChars == 0) ? 'red' : (specialChars >= 1 && specialChars < 4) ? '#efda1a': '#4BB543'">Password special characters: {{ specialChars }}</li>
            <li class="list-group-item-text" style="margin-left:5px;" [style.color]= "(passwordLength < 8) ? 'red' : (passwordLength >= 8 && passwordLength < 11) ? '#d3bf0c' : '#4BB543'">Password length: {{passwordLength}}</li>
       </ul>

 </div>
    <form id="loginForm" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <div class="inner-addon left-addon">
                <input  type="userid"  class="form-control"  [(ngModel)]="user.username"  name="username" id="InputUserId1" placeholder="Username" required>
             </div>               
        </div>
        <div class="form-group">
            <div class="inner-addon left-addon">
                <input type="password" class="form-control" [(ngModel)]="user.oldPassword" name="oldPassword" id="InputPassword1" placeholder="Old Password" required>
            </div>               
        </div>
        <div class="form-group">
            <div class="inner-addon left-addon">
                <input type="password" class="form-control" [(ngModel)]="user.password" name="password" (ngModelChange)="passwordFeedback($event)" id="InputPassword2" placeholder="New Password" required>
                
                <h3 style ="color:white">Password Strength</h3>
                <password-strength-bar
                 [passwordToCheck]="user.password"
                 [barLabel]="barLabel">
                </password-strength-bar>
            </div>               
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" id="btnupdate">Update</button>
        <button class="btn btn-primary" [routerLink]="['../signin']" id="btnlogin">Back to Login</button>
    </form>
</div>  