<!-- <div class="panel panel-default">
                        <div class="panel-heading">Available Assessments</div>
                        <div class="panel-body">
                           <div class="col-sm-6 col-md-4" *ngFor="let assessment of assessments; let i = index ">
                                 <app-available-item [assessmentItem] ="assessment" [assessmentID]="i" (eventVisible) =" changeAssessmentVisiblity($event)"></app-available-item>
                             </div>
                        </div>
                    </div>-->

<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title">Available Assessments</p>
    </div>
    <div class="panel-body">
        <div class="col-md-6" *ngFor="let assessment of assessments; let i = index">
            <app-available-item [assessmentItem] ="assessment" [assessmentID]="i" (eventVisible) =" changeAssessmentVisiblity($event)"></app-available-item>
        </div>
    </div>
</div>